
@{
    Layout = null;
}
@model  ThiDieuLenh.Areas.Menu.Models.MenuModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <script type="text/javascript" src="/Assets/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="/Assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/reset.css">
    <title>Trang chủ</title>
</head>
<style>
    .root{
        height: 100vh;
        overflow: hidden;
    }
    .top{
        padding: 2% 0px;
        background-color: #ED1C22;
        height: 200px;
        text-align: center;
    }
    .top>img{
        height: 200px;
        position: fixed;
        top: 0px;
        left: 10px;
    }
    .top>h1{
        font-size: 60px;
        font-weight: bold;
        color: yellow;
    }
    .border-login{
        padding: 20px;
        background-color: orange;
        height: 100%;
    }
    .login{
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        height: 100%;   
    }
    .login-title{
        display:flex;
        padding-top: 40px;
    }
    .login-title>img{
        height: 50px;
    }
    .login-title>h1{
        color: red;
        font-size: 30px;
    }
    .option{
        text-align: right;
        font-size: 25px;
        padding: 20px; 
        border: 1px solid olive;
        border-left: none;
        border-bottom: none;
    }
    .option:last-child{ border-bottom: 1px solid olive;}
    .option>img{ height: 30px;}
    #active{ 
        background-color:  olive;
    }
</style>
<body>
    <div class="root">
        <div class="top">
            <img src="~/Assets/images/logo.jpg"/>
            <h1>PHẦN MỀM THI ĐIỀU LỆNH CAND</h1>
            <h1>NĂM HỌC 2019-2020</h1>
        </div>
       <div class="border-login">
           <div class="login">
               <div class="login-title">
                   <img src="~/Assets/images/login.png" />
                   <h1> Đăng nhập hệ thống </h1>
               </div>
               <div class="container-fluid login-detail">
                   <div class="row">
                       <div class="col-lg-2"></div>
                       <div class="col-lg-4">
                           <div class="option" id="active" onclick="op(0)"> Giáo viên <img src="~/Assets/images/teacher.png"/></div>
                           <div class="option" id="" onclick="op(1)"> Học sinh <img src="~/Assets/images/student.png"/></div>
                           <div class="option" id="" onclick="op(2)"> Quản lý <img src="~/Assets/images/management.png"/></div>
                       </div>
                       <div class="op col-lg-4" style="display: block;">
                           @using (Html.BeginForm())
                           {
                               @Html.AntiForgeryToken()
                               @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                               <div class="form-group">
                                   <label>Giáo viên</label>
                                   @Html.TextBoxFor(model => model.UserName, new
                          {
                              @class = "form-control",
                              @type = "text",
                              @placeholder = "Giáo viên"
                          }
                            )
                               </div>
                               <div class="form-group">
                                   <label>Mật khẩu</label>
                                   @Html.TextBoxFor(model => model.Password, new
                          {
                              @class = "form-control",
                              @type = "password",
                              @placeholder = "Mật khẩu"
                          }
                            )
                               </div>
                               <button type="submit" class="btn btn-primary">Đăng nhập</button>

                           }
                       </div>
                       <div class="op col-lg-4" style="display: none;">
                           @using (Html.BeginForm())
                           {
                               @Html.AntiForgeryToken()
                               @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                               <div class="form-group">
                                   <label>Số hiệu</label>
                                   @Html.TextBoxFor(model => model.UserName, new
                              {
                                  @class = "form-control",
                                  @type = "text",
                                  @placeholder = "Số hiệu"
                              }
                            )
                               </div>
                               <div class="form-group">
                                   <label>Mật khẩu</label>
                                   @Html.TextBoxFor(model => model.Password, new
                              {
                                  @class = "form-control",
                                  @type = "password",
                                  @placeholder = "Mật khẩu"
                              }
                            )
                               </div>
                               <button type="submit" class="btn btn-primary">Đăng nhập</button>

                           }
                       </div>
                       <div class="op col-lg-4" style="display: none;">
                           @using (Html.BeginForm())
                           {
                               @Html.AntiForgeryToken()
                               @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                               <div class="form-group">
                                   <label>Tài khoản</label>
                                   @Html.TextBoxFor(model => model.UserName, new
                              {
                                  @class = "form-control",
                                  @type = "text",
                                  @placeholder = "Tài khoản"
                              }
                            )
                               </div>
                               <div class="form-group">
                                   <label>Mật khẩu</label>
                                   @Html.TextBoxFor(model => model.Password, new
                              {
                                  @class = "form-control",
                                  @type = "password",
                                  @placeholder = "Mật khẩu"
                              }
                            )
                               </div>

                               <button type="submit" class="btn btn-primary">Đăng nhập</button>

                           }
                       </div>
                       <div class="col-lg-2"></div>
                   </div>
                   </div>
           </div>

       </div>
    </div>
    <script type="text/javascript"> 
        function op(arg) {
            let option = document.getElementsByClassName("option");
            for (let i = 0; i < option.length; i++)
                option[i].id = "";
            option[arg].id = "active";
            let op = document.getElementsByClassName("op");
            for (let i = 0; i < op.length; i++)
                op[i].style.display = "none";
            op[arg].style.display = "block";
        }   
    </script>
</body>
</html>