
@{
    Layout = null;
}
@model ThiDieuLenh.Areas.Student.Models.LoginModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/Assets/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="/Assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/reset.css">
    <link rel="stylesheet" href="/Assets/css/login_student.css">
    <title>Thí sinh</title>
</head>
<body>
    <div class="bg-login">
        <div class="login-student">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label for="StudentAccount">Sô hiệu học viên</label>
                    @Html.TextBoxFor(model => model.SoHieu, new
                       {
                           @class = "form-control",
                           @type = "text",
                           @id = "StudentAccount",
                           @placeholder = "Số hiệu thí sinh"
                       }
                     )
                </div>
                <div class="form-group">
                    <label for="AdminPassword">Năm thi</label>
                    @Html.TextBoxFor(model => model.NamHoc, new
                       {
                           @class = "form-control",
                           @type = "text",
                           @id = "StudentYear",
                           @placeholder = "Năm thi"
                       }
                     )
                </div>
                <button type="submit" class="btn btn-primary">Vào thi</button>
                <button title="SignUp" class="btn btn-secondary" onclick="location.href='@Url.Action( "Index","Signup")';return false;">Đăng ký</button>
            }
        </div>
    </div>
</body>
</html>